# local .env files
.env
.env*

node_modules/
*/node_modules/

sandbox_llm_results_1.csv
sandbox_llm_results.csv
/llm-proxy/.env
/backend/.gettoken.py
/llm-proxy/requirements.txt
/backend/timeout_sent.json
chinese_emotion_results*.csv
gemini_results*.csv
